@model CandidateViewModel
@{
    ViewData["Title"] = "SearchCandidate";
}

<h2>Candidate search result</h2>

@if (null != Model.Skills)
{
<table class="table table-primary">
    <thead>
        <tr>
            <th>Candidate Id</th>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Skills</th>
        </tr>
    </thead>
    <tbody>
      
        <tr>
            <td>@Model.CandidateId</td>
            <td>@Model.Name</td>
            <td>@Model.Email</td>
            <td>@Model.Phone</td>
            <td>@String.Join(",", Model.Skills)</td>
        </tr>
      
    </tbody>

</table>
}
else
{
<p>@ViewBag.message</p>
}